In [8]:
import pandas as pd 
import numpy as np
data=pd.read_csv('data.csv')
data.head()

,Unnamed: 0,subject,body,label
0,0,politicsNews,"As U.S. budget fight looms, Republicans flip t...",real
1,1,politicsNews,U.S. military to accept transgender recruits o...,real
2,2,politicsNews,Senior U.S. Republican senator: 'Let Mr. Muell...,real
3,3,politicsNews,FBI Russia probe helped by Australian diplomat...,real
4,4,politicsNews,Trump wants Postal Service to charge 'much mor...,real

In [9]:
data.set_index('Unnamed: 0')

,subject,body,label
Unnamed: 0,,,
0,politicsNews,"As U.S. budget fight looms, Republicans flip t...",real
1,politicsNews,U.S. military to accept transgender recruits o...,real
2,politicsNews,Senior U.S. Republican senator: 'Let Mr. Muell...,real
3,politicsNews,FBI Russia probe helped by Australian diplomat...,real
4,politicsNews,Trump wants Postal Service to charge 'much mor...,real
...,...,...,...
23476,Middle-east,McPain: John McCain Furious That Iran Treated ...,fake
23477,Middle-east,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,fake
23478,Middle-east,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,fake
23479,Middle-east,How to Blow $700 Million: Al Jazeera America F...,fake
23480,Middle-east,10 U.S. Navy Sailors Held by Iranian Military ...,fake

In [10]:
data=data.drop('subject',axis=1)

In [11]:
data.columns=['index','body','label']
data.head()

   index                                               body label
0      0  As U.S. budget fight looms, Republicans flip t...  real
1      1  U.S. military to accept transgender recruits o...  real
2      2  Senior U.S. Republican senator: 'Let Mr. Muell...  real
3      3  FBI Russia probe helped by Australian diplomat...  real
4      4  Trump wants Postal Service to charge 'much mor...  real

In [12]:
data.set_index('index')

                                                    body label
index
0      As U.S. budget fight looms, Republicans flip t...  real
1      U.S. military to accept transgender recruits o...  real
2      Senior U.S. Republican senator: 'Let Mr. Muell...  real
3      FBI Russia probe helped by Australian diplomat...  real
4      Trump wants Postal Service to charge 'much mor...  real
...                                                  ...   ...
23476  McPain: John McCain Furious That Iran Treated ...  fake
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...  fake
23478  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...  fake
23479  How to Blow $700 Million: Al Jazeera America F...  fake
23480  10 U.S. Navy Sailors Held by Iranian Military ...  fake

[44898 rows x 2 columns]

In [13]:
data.to_csv('dataset.csv')